.home-container {
    border: 1px solid hsl(45, 97%, 64%);
    box-shadow: 5px 5px 5px hsla(45, 97%, 64%, 0.4);
    padding: 20px;
    margin-top: 115px;
    margin-right: 150px;
    height: 660px;       
    overflow-y: auto;    
    overflow-x: hidden;
    scrollbar-width: none;          
    -ms-overflow-style: none; 
    background-color: hsl(0, 0%, 30%);
    color: hsl(0, 0%, 100%);
}
.home-container::-webkit-scrollbar {
    display: none; 
}
.subtitle{
    font-size: 1.9rem;
    font-weight: 900;
    padding: 20px;
    text-align: center;
    font-family: mod-sans,sans-serif;
    word-spacing: 15px;
}
.skills{
    font-size: 1.5rem;
    padding: 10px;
    font-weight: 900;
    text-align: center;
}

.skills [data-lang="JavaScript"] { color: hsl(53, 84%, 65%) }
.skills [data-lang="C#"] { color: hsl(104, 100%, 29%); }
.skills [data-lang="C/C++"] { color: hsl(338, 87%, 66%); }
.skills [data-lang="Python"] { color: hsl(207, 51%, 44%); }
.skills [data-lang="HTML"] { color: hsl(14, 80%, 50%); }
.skills [data-lang="CSS"] { color: hsl(261, 35%, 50%); }

.skills span{
    margin-right: 30px;
}
.description{
    font-size: 1.25rem;
    font-weight: 500;
    padding: 20px;    
    text-align: justify;
    text-indent: 50px;
}
.description p{
    padding: 10px;
}

