.home-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1100px;
    height: 65vh;
    background-color: hsl(0, 0%, 30%);
    border: 1px solid hsl(45, 97%, 64%);
    box-shadow: 4px 4px 10px hsla(45, 97%, 64%, 0.4);
    color: hsl(0, 0%, 100%);
    padding: 30px 15px;
    overflow-y: auto;    
    overflow-x: hidden;
    scrollbar-width: none;          
    -ms-overflow-style: none;
     margin: 0 auto; 
}
.home-container::-webkit-scrollbar {
    display: none; 
}
.inner-wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;     
}
.home-container hr {
    border: none;
    height: 2px;
    background-color: hsl(0, 0%, 100%);
    width: 90%;
    margin: 20px auto;
}
.description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.description p{
    width: 100%;
    text-align: justify;
    text-indent: 50px;
    font-size: 21px;
    font-weight: 500;
    font-family: Arial;
    margin: 0 auto 20px auto;
}
.skills [data-lang="JavaScript"] { color: hsl(53, 84%, 65%) }
.skills [data-lang="C#"] { color: hsl(104, 100%, 29%); }
.skills [data-lang="C/C++"] { color: hsl(338, 87%, 66%); }
.skills [data-lang="Python"] { color: hsl(207, 51%, 44%); }
.skills [data-lang="HTML"] { color: hsl(14, 80%, 50%); }
.skills [data-lang="PHP"] { color: hsl(261, 35%, 50%); }
.skills [data-lang="CSS"] { color: hsl(264, 85%, 54%); }
.skills [data-lang="SQL"] { color: hsl(200, 70%, 50%); }

.skills {
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family: Arial;
}
.inner-wrapper h1{
    font-size: 40px;
    font-weight: 900;
    font-family: Arial;
    text-align: center;  
}
.inner-wrapper h2{
    font-size: 30px;
    font-weight: 900;
    font-family: mod-sans,sans-serif;
    word-spacing: 20px;
    text-align: center;  
}
@media (max-width: 1599px) {
    .inner-wrapper h1 { font-size: 34px; }
    .inner-wrapper h2 { font-size: 26px; word-spacing: 16px; }
    .description p { font-size: 19px; text-indent: 35px; }
    .skills { font-size: 26px; gap: 20px; }
    .home-container {
        max-width: 800px;
        padding: 25px 10px;
    }
    .home-container hr {
        width: 95%; 
    }
    .description hr{
        width: 100%;
    }           
}
@media (max-width: 1400px) and (orientation: landscape){
    .inner-wrapper h1 { font-size: 34px; }
    .inner-wrapper h2 { font-size: 26px; word-spacing: 16px; }
    .description p { font-size: 19px; text-indent: 35px; }
    .skills { font-size: 26px; gap: 20px; }
    .home-container {
        max-width: 750px;
        padding: 20px 10px;
        height: 60vh;
    }
    .home-container hr {
        width: 95%; 
    }
}
@media (max-width: 1200px) and (orientation: landscape) {
    .home-container {
        max-width: 490px;
    }
    .home-container hr {
        width: 95%; 
    }
    .inner-wrapper {
        max-width: 450px;
    }
    .skills {
        gap: 10px;
        font-size: 20px;
    }
    .inner-wrapper h1 {
        font-size: 28px;
    }
    .inner-wrapper h2 {
        font-size: 20px;
        word-spacing: 15px;
    }
}
@media (max-width: 1024px) and (orientation: portrait) {
    .home-container { height: auto; padding: 20px 10px; }
    .inner-wrapper h1 { font-size: 32px; }
    .inner-wrapper h2 { font-size: 24px; word-spacing: 14px; }
    .description p { font-size: 18px; text-indent: 30px; width: 95%; }
    .home-container {
        max-width: 600px;
        padding: 20px 15px;
        height: 60vh; 
    }
    .skills {
        gap: 10px;
        font-size: 19px;
    }
    .home-container hr {
        width: 95%; 
    }
}

@media (max-width: 700px) {
    .home-container { max-width: 95%; padding: 15px 10px; }
    .description p { font-size: 16px; text-indent: 20px; width: 100%; }
    .home-container {
        max-width: 350px;
        padding: 5px 2px;
        height: 50vh;
        width: 88%;
    }
    .home-container hr {
        width: 95%; 
    }
    .skills {
        gap: 5px;
        font-size: 11px;
    }
    .inner-wrapper h1 {
        font-size: 18px;
    }
    .inner-wrapper h2 {
        font-size: 15px;
        word-spacing: 10px;
    }
}
