.resume-container{
    border: 1px solid hsl(45, 97%, 64%);
    box-shadow: 5px 5px 5px hsla(45, 97%, 64%, 0.4);
    padding: 20px;
    margin-top: 115px;
    margin-right: 150px;
    height: 660px;       
    overflow-y: auto;    
    overflow-x: hidden;
    scrollbar-width: none;          
    -ms-overflow-style: none; 
    background-color: hsl(0, 0%, 30%);
    color: hsl(0, 0%, 100%);
}
.resume-container::-webkit-scrollbar {
    display: none; 
}
