.resume-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1100px;
    height: 65vh;
    background-color: hsl(0, 0%, 30%);
    border: 1px solid hsl(45, 97%, 64%);
    box-shadow: 4px 4px 10px hsla(45, 97%, 64%, 0.4);
    color: hsl(0, 0%, 100%);
    padding: 30px 15px;
    overflow-y: auto;    
    overflow-x: hidden;
    scrollbar-width: none;          
    -ms-overflow-style: none;
    margin: 0 auto; 
}
.resume-container::-webkit-scrollbar {
    display: none; 
}
.inner-wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;     
}
.resume-container hr {
    border: none;
    height: 2px;
    background-color: hsl(0, 0%, 100%);
    width: 90%;
    margin: 20px auto;
}
.inner-wrapper p{
    width: 90%;
    text-align: justify;
    text-indent: 50px;
    font-size: 21px;
    font-weight: 500;
    font-family: Arial;
    margin: 0 auto 20px auto;
}
.inner-wrapper h1{
    font-size: 40px;
    font-weight: 900;
    font-family: Arial;
    text-align: center;  
}
.skills-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;  
    column-gap: 30px;               
    row-gap: 20px;
    width: 100%;
}
.skill {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
}
.skill-name {
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}
.stars {
    font-size: 20px;
    display: flex;
    justify-content: center; 
    gap: 5px;
    margin-bottom: 20px;
}
.filled {
    color: hsl(50, 100%, 50%);
}
@media (max-width: 1599px) {
    .resume-container {
        max-width: 800px;
        padding: 25px 10px;
    }
    .inner-wrapper p{
        text-indent: 35px;
        font-size: 19px;
    }
    .inner-wrapper h1{
        font-size: 34px;
    }
    .skills-grid {
        column-gap: 28px;               
        row-gap: 18px;
    }
    .skill-name {
        font-size: 28px;
        margin-top: 18px;
        margin-bottom: 18px;
    }
    .stars {
        font-size: 18px;
        margin-bottom: 18px;
    }
}
@media (max-width: 1400px) and (orientation: landscape){
    .resume-container {
        max-width: 750px;
        padding: 20px 10px;
        height: 60vh;
    }
    .inner-wrapper p{
        text-indent: 35px;
        font-size: 19px;
    }
    .inner-wrapper h1{
        font-size: 34px;
    }
    .skills-grid {
        column-gap: 24px;               
        row-gap: 14px;
    }
    .skill-name {
        font-size: 26px;
        margin-top: 16px;
        margin-bottom: 16px;
    }
    .stars {
        font-size: 17px;
        margin-bottom: 16px;
    }
}

@media (max-width: 1200px) and (orientation: landscape) {
    .resume-container {
        max-width: 490px;
    }
    .inner-wrapper {
        max-width: 450px;
    }
    .inner-wrapper p{
        text-indent: 30px;
        font-size: 17px;
    }
    .inner-wrapper h1{
        font-size: 28px;
    }
    .skills-grid {
        column-gap: 20px;               
        row-gap: 12px;
    }
    .skill-name {
        font-size: 23px;
        margin-top: 14px;
        margin-bottom: 14px;
    }
    .stars {
        font-size: 15px;
        margin-bottom: 14px;
    }
}

@media (max-width: 1024px) and (orientation: portrait) {
    .resume-container {
        height: auto; 
        padding: 20px 10px;
        max-width: 600px;
        height: 60vh; 
    }
    .inner-wrapper p{
        text-indent: 30px;
        font-size: 18px;
    }
    .inner-wrapper h1{
        font-size: 32px;
    }
    .skills-grid {
        column-gap: 20px;               
        row-gap: 12px;
    }
    .skill-name {
        font-size: 26px;
        margin-top: 14px;
        margin-bottom: 14px;
    }
    .stars {
        font-size: 18px;
        margin-bottom: 14px;
    }
}

@media (max-width: 700px) {
    .resume-container {
        height: auto; 
        padding: 15px 10px;
        max-width: 350px;
        padding: 5px 2px;
        height: 50vh;
        width: 88%;
    }
    .inner-wrapper p{
        text-indent: 20px;
        font-size: 16px;
    }
    .inner-wrapper h1{
        font-size: 18px;
    }
    .skills-grid {
        column-gap: 10px;               
        row-gap: 6px;
    }
    .skill-name {
        font-size: 15px;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .stars {
        font-size: 12px;
        margin-bottom: 8px;
    }
}
