body {
  background-image: url('/bg.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
}
.projectDetails-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1100px;
    height: 65vh;
    background-color: hsl(0, 0%, 30%);
    border: 1px solid hsl(45, 97%, 64%);
    box-shadow: 4px 4px 10px hsla(45, 97%, 64%, 0.4);
    color: hsl(0, 0%, 100%);
    padding: 30px 15px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin: 0 auto;
}
.projectDetails-container::-webkit-scrollbar {
    display: none;
}
.projectDetails-container hr {
    border: none;
    height: 2px;
    background-color: hsl(0, 0%, 100%);
    width: 90%;
    margin: 15px auto;
}
.projectDetails-container h2{
    color: hsl(45, 97%, 64%);
}
.projectDetails-container img {
    width: 80%;
    max-width: 1000px;
    height: auto;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 10px;
}
.description {
    width: 90%;
    margin: 0 auto;
}
.description p {
    width: 100%;
    text-align: justify;
    text-indent: 50px;
    font-size: 22px;
    font-weight: 500;
    font-family: Arial;
    margin: 0 0 20px 0;
}
.description ul {
    display: flex;          
    flex-direction: column; 
    align-items: flex-start;
    gap: 15px;             
    font-size: 22px;
    font-weight: bold;
    font-family: Arial;
    margin: 0 0 20px 0;
    padding-left: 20px; 
    list-style-position: outside; 
}
.project-buttons {
    display: flex;
    justify-content: center;
    gap: 1.5rem; 
    margin-top: 1rem;
}
.project-btn {
    display: inline-block;
    background-color: hsl(45, 97%, 64%); 
    color: black;
    font-weight: bold;
    padding: 10px 16px; 
    border-radius: 6px; 
    text-decoration: none;
    transform: scale(1);
    transition: transform 0.3s ease;
}
.project-btn:hover {
    transform: scale(1.10); 
}
.back-btn {
    display: inline-block;
    margin-top: 20px;
    text-align: left;
    align-self: flex-start;
}
@media (max-width: 1599px) {
    .inner-wrapper h1 { font-size: 34px; }
    .inner-wrapper h2 { font-size: 26px; }
    .description p { font-size: 19px; text-indent: 35px; }
    .projectDetails-container hr { width: 80%; }
    .projectDetails-container {
        max-width: 800px;
        padding: 25px 10px;
    }
    .projectDetails-container hr {
        width: 95%; 
    }
}
@media (max-width: 1400px) and (orientation: landscape){
    .inner-wrapper h1 { font-size: 34px; }
    .inner-wrapper h2 { font-size: 26px; }
    .description p { font-size: 19px; text-indent: 35px; }
    .projectDetails-container hr { width: 80%; }
    .projectDetails-container {
        max-width: 750px;
        padding: 20px 10px;
        height: 60vh;
    }
    .projectDetails-container hr {
        width: 95%; 
    }
    .description ul {
        font-size: 20px;
    }
    .description p {
        font-size: 16px;
    }
}
@media (max-width: 1200px) and (orientation: landscape) {
    .projectDetails-container {
        max-width: 490px;
    }
    .projectDetails-container hr {
        width: 95%; 
    }
    .inner-wrapper {
        max-width: 450px;
    }
    .inner-wrapper h1 {
        font-size: 28px;
    }
    .inner-wrapper h2 {
        font-size: 20px;
    }
    .description ul {
        font-size: 18px;
    }
    .description p {
        font-size: 14px;
    }
    .project-btn {
        font-size: 12px;
    }
}
@media (max-width: 1024px) and (orientation: portrait) {
    .projectDetails-container { height: auto; padding: 20px 10px; }
    .inner-wrapper h1 { font-size: 32px; }
    .inner-wrapper h2 { font-size: 24px; word-spacing: 14px; }
    .description p { font-size: 18px; text-indent: 30px; width: 95%; }
    .projectDetails-container hr { width: 75%; }
    .projectDetails-container {
        max-width: 600px;
        padding: 20px 15px;
        height: 60vh; 
    }
    .projectDetails-container hr {
        width: 95%; 
    }
}
@media (max-width: 700px) {
    .projectDetails-container { max-width: 95%; padding: 15px 10px; }
    .description p { font-size: 16px; text-indent: 20px; width: 100%; }
    .projectDetails-container {
        max-width: 350px;
        padding: 5px 2px;
        height: 50vh;
        width: 88%;
    }
    .projectDetails-container hr {
        width: 95%; 
    }
    .inner-wrapper h1 {
        font-size: 18px;
    }
    .inner-wrapper h2 {
        font-size: 15px;
        word-spacing: 10px;
    }
    .description ul {
        font-size: 14px;
    }
    .description p {
        font-size: 12px;
    }
    .project-btn {
        font-size: 10px;
    }
}

