@import "tailwindcss";

body{
    background-image: url(bg.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.title{
    font-size: 3.7rem;
    font-weight: 900;
    font-family: Arial;
    padding: 20px;
    text-align: center;  
}



